body {
    background: #0000;
    margin: 0;
}

.tiles {
    margin: 3rem auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 1rem;
}

.tile {
    height: 6.2rem;
    background: #000;
    border: 0.3rem solid #fff;
    cursor: pointer;
}