body {
    background: #0000;
    margin: 0;
}

.tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 1rem;
}

.tile {
    height: 100px;
    background: #000;
    border: 5px solid #fff;
    cursor: pointer;
}